<html>
<head>
	<title>Gauss-Jordan Elimination Tool</title>
</head>

<body>
	<script type="text/javascript">
		function show(count){
			count = parseInt(count);
			var HTML = "";
			if (count > 0){
				HTML = '<table>';
				for (var i = 0; i < count;i++) {
					HTML += '<tr>';
					for (var j = 0; j < count + 1; j++) {
						HTML += '<td><input name="m'+'i'+i+'j'+j+'" type="number" value="" placeholder="m['+(i+1)+']['+(j+1)+']" size="2" required></td>';
					}
					HTML +='</tr>';
				}
				HTML += '</table>';
				HTML += '<input type=submit value="Calculate">';
			}
			document.getElementById('div1').innerHTML = HTML;
		}
	</script>
	<form method="POST", action="" enctype = "multipart/form-data">
		<tr>
			<td><p>Input the number of row(s):</p></td>
				<input name="count" type="number" value="" min="1" required onchange="show(this.value)">
		</tr>
		<div id="div1"></div>
	</form>
</body>
</html>
